<h2>All Active Pizza Orders:</h2>
<%#comment%>

<table id="OrderTable">
  <thead>
    <tr>
      <th>First Name</th>
      <th>Second Name</th>
      <th>Topping</th>
      <th>Quantity</th>
      <th>Status</th>
    </tr>
  </thead>
  <tbody>
    <% for order in @orders%>
      <tr>
        <td><%=order.first_name%></td>
        <td><%=order.last_name%></td>
        <td><%=order.topping%></td>
        <td><%=order.quantity.to_i%></td>
        <td><a href="/pizza_orders/<%= order.id %>">Amend/Cancel</a></td>
      </tr>
    <% end %>
  </tbody>
</table>
